<div class="container-fluid container-fixed-lg bg-white" style="min-height: 840px;">
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">나에게 온 초대
      </div>
      <div class="export-options-container pull-right">
        <div class="exportOptions">
          <div class="DTTT btn-group">

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
        <div class="table-responsive">
          <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
            <thead>
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Group</th>
              <th class="sorting" tabindex="0" aria-controls="tableWithExportOptions" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Invite</th>
            </tr>
            </thead>
            <tbody>
            <% @invites.each do |invite| %>
                <tr class="gradeA odd" role="row">
                  <td class="sorting_1"> <%= invite.invite_project %></td>
                  <td><%= link_to 'Join', user_project_invite_path(invite.invite_user, invite.invite_project) %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END PANEL -->
</div>