<form action="/userpop3/setpop/<%= current_user.id %>" method="get">
  <label>email</label>
  <input name="email" id="email">

  <label>password</label>
  <input name="password" id="password">

  <label>port</label>
  <input name="port" id="port">

  <label>pop3</label>
  <input name="pop3" id="pop3">

  <button type="submit">login</button>
</form>