<% if message.user_id == current_user.id %>
  <div class="message clearfix">
    <div class="chat-bubble from-me">
      <%= message.content %>
    </div>
  </div>
<% else%>
    <div class="message clearfix">
      <!--message.user_id 이용하여 사진 삽입-->
      <div class="fs-11 hint-text" style="height: 20px"><%= User.find(message.user_id).name %></div>
      <div class="profile-img-wrapper m-t-5 inline">
        <img class="col-top" width="30" height="30" src=<%= User.find(message.user_id).userProfile.thumb.url %> alt="" >
      </div>
      <div class="chat-bubble from-them">
        <%= message.content %>
      </div>
    </div>
<%end %>
