<div class="container-fluid container-fixed-lg bg-white" style="min-height: 840px;">
  <!-- START PANEL -->
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">Your Project
      </div>
      <div class="export-options-container pull-right">
        <div class="exportOptions">
          <div class="DTTT btn-group">

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div id="tableWithExportOptions_wrapper" class="dataTables_wrapper form-inline no-footer">
        <div class="table-responsive">
          <table class="table table-striped dataTable no-footer" id="tableWithExportOptions" role="grid" aria-describedby="tableWithExportOptions_info">
            <thead>
            <tr role="row">
              <th class="sorting_asc col-md-8" rowspan="1" colspan="1" aria-sort="ascending">Project</th>
              <th class="sorting col-md-4" rowspan="1" colspan="1">Invite</th>
            </tr>
            </thead>
            <tbody>
            <% @projects.each do |project| %>
                <tr role="row">
                  <td class="p-t-30 p-b-30 col-md-8" rowspan="1" colspan="1"> <%= link_to project.title, user_project_path(current_user.id, project.id) %></td>
                  <td class="p-t-30 p-b-30 col-md-4" rowspan="1" colspan="1"> <%= time_ago_in_words(Time.now) %> </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END PANEL -->
</div>