<div class="row full-height">
  <div class="col col-middle">
    <div class="text-center">
      <h1 class="error-number">.</h1>
      <h2 class="semi-bold">해당 프로젝트에 가입되지 않았습니다.</h2>
      <p>해당 프로젝트에 가입을 하기 위해서는 초대를 받아야합니다</a>
      </p>
    </div>
  </div>
</div>
