<!DOCTYPE html>
<html>
<head>
  <title>Group by.</title>

  <%= stylesheet_link_tag    'viewerjs_rails'%>
  <%= javascript_include_tag 'viewerjs_rails'%>
</head>

<body>
<%= viewerjs_viewer({viewer_alignment: 'left'}) %>
</body>
</html>