<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Group by.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body class="fixed-header error-page">
<div class="container-xs-height full-height">
  <div class="row-xs-height">
    <div class="col-xs-height col-middle">
      <div class="error-container text-center">
        <h1 class="error-number">500</h1>
        <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
        <a href="/">
          <button class="btn btn-default" style="width: 121px">
            <span>
              <i class="fa fa-home fs-15"></i>
            </span>
            <br>
            <span class="fs-11 font-montserrat text-uppercase">Home</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="pull-bottom sm-pull-bottom full-width">
  <div class="error-container">
    <div class="error-container-innner">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
        <div class="col-sm-3 no-padding">
          <%= image_tag 'groupby_logo.png', :style => 'margin-top: 20px' %>
        </div>
        <div class="col-sm-9 no-padding">
          <p>
            <small>Create by team Group by. If you want to see our page's source, <a href="https://github.com/LandvibeDev/Group-by.">click</a> and go to our git hub repository.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTAINER -->
</body>
</html>